/*Localisation*/

.location {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #f1eeee;
    font-size: 12px;
    & i{
      font-size: 14px;
    }
    padding: 0px;
    h2{
      font-size: small;
    }
   
  }