/*Restaurants*/
.menus {
    background-color: #f6f6f6;
    padding: 30px 15px 50px 15px;
    
    .menus__cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
        @media screen and(max-width:800px) {
        grid-template-columns:repeat(1, 1fr);
            
        }
            
    }
        
    .card {
        position: relative;
        border-radius: 0 0 10px 10px;
        background-color: white;
        
        
        &__btn{
            .new {
                color: #008766;
                background: #99E2D0;
                font-size: x-small;
                font-weight: bold;
                position: absolute;
                right: 3%;
                top: 5%;
                padding: 5px 10px;
              }
        } 
        &__image {
            background-size: cover;
            width: 100%;
            height: 140px;
            border-radius: 10px 10px 0 0;
        }
        &__image-1{
            background-image:url("img/restaurants/la-palette-du-gout.jpg");   
        }
        &__image-2{
            background-image:url("img/restaurants/la-note-enchantee.jpg");   
        }
        &__image-3{
            background-image:url("img/restaurants/a-la-francaise.jpg");   
        }
        &__image-4{
            background-image:url("img/restaurants/le-delice-sens.jpg");   
        }
        &__description{
            h3,p {
                margin-top: 5px;
                padding: 0px;
            }
            .heart {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:10px 15px 10px 10px  ;
                
                &__icon{
                    .fill {
                        font-size:25px;
                        padding-right:10px;
                        cursor: pointer;
                        &:hover {
                            background-image : linear-gradient(to left top,#9356DC ,#FF79DA ); 
                            -webkit-background-clip: text;
                            color: transparent;
                            font-weight: bold;
                        }
                    }
                }
              
              }
                

            
        }
    }
    
    
    
}