@charset "UTF-8";
/**police Logo et titre**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
/**police texte**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
::before,
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
}

h2 {
  font-size: x-large;
  font-weight: bold;
  padding: 1Opx;
  margin: 18px 0;
}

h3, p {
  font-size: small;
  margin: 0;
}

h4 {
  margin: 0px;
}

main {
  margin: 20px;
}
@media screen and (max-width: 800px) {
  main {
    margin: 0px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  /*la couleur tu l'herite du parent*/
}

/*Header*/
header {
  padding: 10px 0;
  box-shadow: 0px 2px 3px #ddd8d8;
  position: relative;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Localisation*/
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #f1eeee;
  font-size: 12px;
  padding: 0px;
}
.location i {
  font-size: 14px;
}
.location h2 {
  font-size: small;
}

/*Explorer*/
.Explorer {
  text-align: center;
  background-color: #f8f5f5;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.Explorer button {
  color: white;
  font-size: small;
  font-weight: bold;
  padding: 15px 30px;
  margin: 30px 0 30px 0;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 2px 9px 4px rgba(0, 0, 0, 0.2);
}
.Explorer button:hover {
  transform: scale(1, 1.1);
}

/*Fonctionnement*/
.function {
  margin: 15px;
  counter-reset: counter;
  margin-bottom: 50px;
  padding: 10 20px;
}
.function ul {
  padding-left: 18px;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  counter-reset: compteliste;
}
@media screen and (max-width: 908px) {
  .function ul {
    flex-direction: column;
    padding-left: 5px;
  }
}
.function ul li {
  position: relative;
  font-weight: bold;
  margin-bottom: 0px;
  flex-grow: 1;
  background-color: #f6f6f6;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 2px 9px 4px rgba(0, 0, 0, 0.2);
}
.function ul li::before {
  counter-increment: compteliste;
  content: counter(compteliste);
  width: 20px;
  height: 20px;
  display: flex;
  font-size: x-small;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  padding: 5px;
  position: absolute;
  bottom: 30%;
  left: -5px;
}
@media all and (min-width: 909px) and (max-width: 992px) {
  .function ul li::before {
    top: -7px;
    left: 50%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .function ul li {
    padding: 16px 25px;
  }
}
.function ul li:hover {
  transform: scale(1, 1.1);
  background-color: #f8eef8;
}
.function ul li:hover i.fas {
  color: #9356dc;
}
.function ul li i.fas {
  padding-right: 18px;
  font-size: 16px;
  color: #7e7e7e;
}

/*Restaurants*/
.menus {
  background-color: #f6f6f6;
  padding: 30px 15px 50px 15px;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 800px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .card {
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.menus .card__btn .new {
  color: #008766;
  background: #99E2D0;
  font-size: x-small;
  font-weight: bold;
  position: absolute;
  right: 3%;
  top: 5%;
  padding: 5px 10px;
}
.menus .card__image {
  background-size: cover;
  width: 100%;
  height: 140px;
  border-radius: 10px 10px 0 0;
}
.menus .card__image-1 {
  background-image: url("img/restaurants/la-palette-du-gout.jpg");
}
.menus .card__image-2 {
  background-image: url("img/restaurants/la-note-enchantee.jpg");
}
.menus .card__image-3 {
  background-image: url("img/restaurants/a-la-francaise.jpg");
}
.menus .card__image-4 {
  background-image: url("img/restaurants/le-delice-sens.jpg");
}
.menus .card__description h3, .menus .card__description p {
  margin-top: 5px;
  padding: 0px;
}
.menus .card__description .heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 10px;
}
.menus .card__description .heart__icon .fill {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.menus .card__description .heart__icon .fill:hover {
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

footer {
  background-color: #353535;
  padding: 10px 30px;
  color: white;
}
footer h2 {
  font-family: "shrikhand";
  font-size: large;
  font-weight: 100;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  font-size: small;
  padding-bottom: 10px;
}
footer ul li i {
  padding-right: 10px;
  font-size: x-small;
}

main {
  margin: 0;
  background-color: rgba(249, 247, 247, 0.991);
}

header {
  position: relative;
}
header i {
  position: absolute;
  display: flex;
  top: 35%;
  left: 20px;
  font-weight: 12px;
}

.restaurant img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}
.restaurant .restaurant__name {
  font-family: "shrikhand";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 20px;
  border-radius: 30px 30px 0 0;
  background-color: #f9f7f7;
  margin-top: -30px;
  position: relative;
}
.restaurant .heart__icon .fill {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.restaurant .heart__icon .fill:hover {
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .menu .menu_carte_item {
    margin-bottom: 40px;
  }
}
.menu .menu_carte_item h3 {
  position: relative;
}
.menu .menu_carte_item h3::after {
  content: "";
  height: 3px;
  width: 35px;
  left: 0;
  top: 20px;
  background-color: #99e2d0;
  position: absolute;
}
.menu .menu_carte_item .card__item {
  background-color: white;
  margin: 25px 15px 15px 0px;
  border-radius: 10px;
  display: flex;
  box-shadow: 2px 9px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /***caché le check***/
}
.menu .menu_carte_item .card__item .card__description {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu_carte_item .card__item .card__description h4, .menu .menu_carte_item .card__item .card__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu_carte_item .card__item .card__price {
  font-weight: bold;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.menu .menu_carte_item .card__item .card__check {
  background-color: #99e2d0;
  width: 50px;
  margin-right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.menu .menu_carte_item .card__item .card__check .fas {
  color: white;
}
.menu .menu_carte_item .card__item:hover {
  cursor: pointer;
}
.menu .menu_carte_item .card__item:hover .card__check {
  margin-right: 0px;
}
.menu .menu_carte_item .card__item:hover .card__description {
  width: 200px;
}
.menu .menu_carte_item .card__item:hover .fas {
  animation: spin-check 1s;
  animation-play-state: running;
}
@keyframes spin-check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order {
  text-align: center;
}
.order button {
  color: white;
  font-size: small;
  font-weight: bold;
  padding: 15px 40px;
  margin: 0px 0 30px 0;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 2px 9px 4px rgba(0, 0, 0, 0.2);
}
.order button:hover {
  transform: scale(1, 1.1);
}

/*# sourceMappingURL=style.css.map */
