/**police Logo et titre**/ 
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/**police texte**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
    
}
body{
    margin:0px;
    font-family:"Roboto",Verdana;
}